body {
    font-family: Arial, sans-serif;
    background-color: #e595f1;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 5px;
    /* padding-bottom: 20px; */
    
}

.header {
    text-align: center;
}

.header h1 {
    margin: 0;
}

.header h2 {
    margin: 5px 0;
}

#timer {
    margin-top: 10px;
    background-color: #2196F3;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}

.question-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
}

.navigation button:disabled {
    background-color: #4ba83f;
}

.question-nav {
    margin-top: 20px;
    text-align: center;
}

.question-nav .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.q-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.q-button.active {
    background-color: #2196F3;
}

#finish {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
}