* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
.timer {
    position: relative;
    font-size: 18px;
    z-index: 2;
    background-color: #ae7ec4;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    height:52px;
}

.container1 {
    background-color: rgb(245, 241, 241);
    width: 100%;
    max-width: 2000px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: -20px;
}

.header1 {
    background-color: #58cf93;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    height:185px;
    margin-bottom: 10px;
    margin-top: -10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header1 h1 {
    margin-top: 1000px;
    font-size: 3.5em;
    margin: 30px;
}

.header1 p {
    font-size: 1.5em;
    margin: -25px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.header1 p::before {
    content: '\1F551';
    font-size: 1.5em;
    margin-right: 8px;
}

.instructions1 {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 1600px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.instructions1 h2 {
    font-size: 1.75em;
    margin-bottom: 10px;
    margin-top: 1px;
}

.instructions1 ul {
    padding-left: 20px;
    font-size: 1.25em;
    margin: 0;
    list-style-type: disc;
}

.start-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    margin-top: -6px;
}

.start-button button {
    background-color: #a28dc7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 0 4px #999;
}

.start-button button:hover {
    background-color: #b39ddb;
}

.start-button button:active {
    background-color: #b39ddb;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.cognitive-skills {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height:300px;
    max-width: 1600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -3px;
}

.cognitive-skills h2 {
    font-size: 1.75em;
    margin-bottom: 10px;
    margin-top: 1px;
}

.cognitive-skills ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25em;
    margin: 0;
}

.cognitive-skills ul li {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    align-items: center;
}

.cognitive-skills ul li::before {
    content: '';
    font-size: 1em;
    margin-bottom: 5px;
}
.container2 {
    width: 100%;
    max-width: 1500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    padding-top: -10px; /* Add padding to account for the fixed header */
}

.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f5f5f5;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #e0e0e0; /* Added grey background */
    border: 5px solid rgb(254, 252, 252);
    border-radius:10px;
   
    
}

.progress2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
    height:1000px;
}

.progress-text2 {
    display: flex;
    height:50px;
    flex-direction: column; /* Stack text vertically */
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: #333;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; /* Center text within the box */
    margin-left:40px;
}
.progress-text2 p {
    font-size:18px;
}




.content2 {
    text-align: center;
    height: 400px;
    max-width: 1300px;
    width: 2000vh; /* Full viewport width */
    height:1000vh;
    padding: 40px ; /* Padding only on the top and bottom */
    background-color: #ae7ec4;
    margin-left: -19px; /* Centering the content */
    margin-top:40px;
    
}

.content2 h1 {
    font-size: 55px;
    color: #fff;
    margin-bottom: 20px;
    margin-top:-10px;
}

.mouse-icon2 {
    width: 120px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    margin: 20px auto;
    background: url('img/mouse.png') no-repeat center center;
    background-size: contain;
}

.content2 p {
    font-size: 30px;
    color: #fff;
    margin-top:10px;
}

.content2 b {
    font-weight: bold;
    margin-top:1000px;
}
.container3{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
}

.header3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f5f5f5;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #e0e0e0; /* Added grey background */
    border: 5px solid rgb(254, 252, 252);
    border-radius: 10px;
}

.progress-bar3{
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 10px;
    
    width: 2000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.progress3 {
    background-color: #60cc9c;
    height: 50px;
    width: 50%; /* Adjust width as needed */
    border-radius: 5px;
}

.tutorial-step3  {
    font-size: 20px;
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    align-items: center;
    justify-content: center;
    text-align: center; /* Added for centering */
    margin-left: 550px;
    width: 140px;
    height: 57px;
}

.tutorial-step3 .step-number3 {
    margin-top: 5px; /* Adjust as needed */
}

.game-area3 {
    flex: 1;
    margin-top: -80px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    position: relative;
}

.instructions3 {
    font-size: 30px;
    color: #333;
    margin-bottom: 50px;
    margin-top: -75px;
}

.color-box3 {
    background-color: white;
    border-radius: 25px;
    display: inline-block;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.1);
    height: 110px;
    margin-top: 30px;
    margin-left: 20px;
}

.color-text3 {
    font-size: 60px;
    color: rgb(66, 25, 172);
    align-items: center;
    justify-content: center;
}

.time3 {
    width: 50px; /* Adjust width as needed */
    height: 210px; /* Adjust height as needed */
    margin: -30px auto 70px auto; /* Adjust margins */
    background: url('img/times.png') no-repeat center center;
    background-size: contain;
}
.icon3 {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-right: 5px; /* Space between icon and text */
    vertical-align: middle; /* Align with text */
}
.container4 {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow:hidden;
}

.header4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f5f5f5;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #e0e0e0; /* Added grey background */
    border: 5px solid rgb(254, 252, 252);
    border-radius:10px;
}

.tutorial-step4 {
    font-size: 20px;
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    align-items: center;
    justify-content: center;
    text-align: center; /* Added for centering */
    margin-left: 550px;
    width: 140px;
    height: 57px;
}

.tutorial-step4 .step-number4 {
    margin-top: 5px; /* Adjust as needed */
}

.game-area4 {
    flex: 1;
    margin-top: 60px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #60cc9c;
    position: relative;
    height:100%;
}

.instructions4 {
    font-size: 30px;
    color: #333;
    margin-bottom: 60px;
    margin-top: -95px;
    margin-right:-1px;
}



.color-box4 {
    background-color: white;
    border-radius: 25px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 110px;
    margin-top: -340px;
    margin-bottom:90px;
    margin-left:20px;
}
.color-text4 {
    font-size: 60px;
    color: rgb(141, 9, 9);
    align-items: center;
    justify-content: center;
    margin-top: -80px; 
    margin-bottom:50px;
}

.checkmark4 {
    font-size: 45px;
    color: white;
    position: absolute;
    margin-bottom: 140px;
}

.time4 {
    width: 50px; /* Adjust width as needed */
    height: 120px; /* Adjust height as needed */
    margin: 18px auto 35px auto; /* Adjust margins */
    background: url('img/time.png') no-repeat center center;
    background-size: contain;
    margin-right:615px;
}

.icon4 {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-right: 5px; /* Space between icon and text */
    vertical-align: middle;/* Align with text */
}

.container5  {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow:hidden;
}



.header5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f5f5f5;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #e0e0e0; /* Added grey background */
    border: 5px solid rgb(254, 252, 252);
    border-radius:10px;
}

.tutorial-step5 {
    font-size: 20px;
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    align-items: center;
    justify-content: center;
    text-align: center; /* Added for centering */
    margin-left:550px;
    width:140px;
    height:57px;
}

.tutorial-step5 .step-number5 {
    margin-top: 5px; /* Adjust as needed */
}

.game-area5 {
    margin-top: 200px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ca5d5d;
    position: relative;
    height:100%;
}

.instructions5 {
    font-size: 30px;
    color: #333;
    margin-bottom: 60px;
    margin-top: -95px;
    margin-right:-3px;
}

.icon5 {
    font-size: 24px;
    margin-bottom: 1px;
}

.color-box5 {
    background-color: white;
    border-radius: 25px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 110px;
    margin-top: -340px;
    margin-bottom:90px;
    margin-left:20px;
}

.color-text5 {
    font-size: 60px;
    color: rgb(141, 9, 9);
    align-items: center;
    justify-content: center;
    margin-top: -80px; 
    margin-bottom:50px;
}

.checkmark5 {
    font-size: 45px;
    color: white;
    position: absolute;
    margin-bottom: 140px;
}

.icon5 {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-right: 5px; /* Space between icon and text */
    vertical-align: middle; /* Align with text */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column;
}

.container6 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.header6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f5f5f5;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #e0e0e0; /* Added grey background */
    border: 5px solid rgb(254, 252, 252);
    border-radius:10px;
}

.progress-bar6,.progress-bar3,.progress-bar4,.progress-bar5 {
    background-color: #e0e0e0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.progress6 {
    background-color: #60cc9c;
    height: 100%;
}

.tutorial-step6 {
    font-size: 20px;
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    align-items: center;
    justify-content: center;
    text-align: center; /* Added for centering */
    margin-left:550px;
    width:140px;
    height:57px;
}



.game-area6 {
    flex: 1;
    margin-top: 80px;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ca5d5d;
    position: relative;
}

.color-box6 {
    background-color: white;
    border-radius: 25px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 110px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
}

.color-text6 {
    font-size: 70px;
    color: rgb(103, 103, 249);
}
.color-text11 {
    font-size: 70px;
    color: rgb(103, 103, 249);
}

.feedback6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 32px;
}

.feedback-content6 {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
    margin-top:-100px;
    margin-right:-80px;
}

.checkmark6 {
    font-size: 50px;
    margin-right: 70px;
    margin-left:-150px;
    margin-top: -210px;
}

.feedback6 p {
    text-align: left;
    font-weight: bold;
    margin-top: -200px; /* Adjust this value as needed */
}


.continue-button {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top:-140px;
    margin-bottom:50px;
}
.container7 {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow:hidden;
}

.header7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f5f5f5;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #e0e0e0; /* Added grey background */
    border: 5px solid rgb(254, 252, 252);
    border-radius:10px;
}

.progress-bar7 {
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 10px;
    
    width:2000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.progress7{
    background-color: #60cc9c;
    height: 50px;
    width: 5%; /* Adjust width as needed */
    border-radius:5px;
}



.tutorial-step7 {
    font-size: 20px;
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    align-items: center;
    justify-content: center;
    text-align: center; /* Added for centering */
    margin-left:550px;
    width:140px;
    height:57px;
}

.tutorial-step7 .step-number7 {
    margin-top: 50px; /* Adjust as needed */
}


.game-area7 {
    flex: 1;
    margin-top: 80px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    position: relative;
}

.instructions7 {
    font-size: 30px;
    color: #333;
    margin-bottom: 30px;
    margin-top: -75px;
}

.icon7 {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-right: 5px; /* Space between icon and text */
    vertical-align: middle; /* Align with text */
}

.color-box7 {
    background-color: white;
    border-radius: 25px;
    display: inline-block;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.1);
    height: 110px;
    margin-top: 120px;
    margin-left: 20px;
}


.container8 {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow:hidden;
}

.header8 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f5f5f5;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #e0e0e0; /* Added grey background */
    border: 5px solid rgb(254, 252, 252);
    border-radius:10px;
}

.progress-bar8,.progress-bar9,.progress-bar10{
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 10px;
    
    width:2000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.progress8,.progress9,.progress10 {
    background-color: #60cc9c;
    height: 50px;
    width: 100%; /* Adjust width as needed */
    border-radius:5px;
}

.tutorial-step8 {
    font-size: 20px;
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    align-items: center;
    justify-content: center;
    text-align: center; /* Added for centering */
    margin-left:550px;
    width:140px;
    height:57px;
}

.tutorial-step8 .step-number8 {
    margin-top: 5px; /* Adjust as needed */
}


.game-area8 {
    flex: 1;
    margin-top: -80px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    position: relative;
}

.instructions8 {
    font-size: 30px;
    color: #333;
    margin-bottom: 50px;
    margin-top: -75px;
}



.color-box8 {
    background-color: white;
    border-radius: 25px;
    display: inline-block;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.1);
    height: 110px;
    margin-top: 30px;
    margin-left:20px;
}

.color-text8 {
    font-size: 60px;
    color: rgb(141, 9, 9);
    align-items: center;
    justify-content: center;
    
    
}

.time8 {
    width: 50px; /* Adjust width as needed */
    height: 210px; /* Adjust height as needed */
    margin: -30px auto 70px auto; /* Adjust margins */
    background: url('img/times.png') no-repeat center center;
    background-size: contain;
}
.icon8 {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-right: 5px; /* Space between icon and text */
    vertical-align: middle; /* Align with text */
}
.container9 {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow:hidden;
}


.header9 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f5f5f5;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #e0e0e0; /* Added grey background */
    border: 5px solid rgb(254, 252, 252);
    border-radius:10px;
}



.tutorial-step9 {
    font-size: 20px;
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    align-items: center;
    justify-content: center;
    text-align: center; /* Added for centering */
    margin-left:550px;
    width:140px;
    height:57px;
}

.tutorial-step9 .step-number {
    margin-top: 5px; /* Adjust as needed */
}



.game-area9 {
    margin-top: 20px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ca5d5d;
    position: relative;
    height:100%;

}

    



.icon9 {
    font-size: 24px;
    margin-bottom: 1px;
}

.color-box9 {
    background-color: white;
    border-radius: 25px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 110px;
    margin-top: -340px;
    margin-bottom:90px;
    margin-left:20px;
}

.color-text9,.color-text8 {
    font-size: 60px;
    color: rgb(70, 123, 215);
    align-items: center;
    justify-content: center;
    margin-top: -80px; 
    margin-bottom:50px;
    
}

.checkmark9 {
    font-size: 45px;
    color: white;
    position: absolute;
    margin-bottom: 140px;
}




.icon9 {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-right: 5px; /* Space between icon and text */
    vertical-align: middle; /* Align with text */
}

.container10 {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow:hidden;
}

.header10 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f5f5f5;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #e0e0e0; /* Added grey background */
    border: 5px solid rgb(254, 252, 252);
    border-radius:10px;
}



.tutorial-step10 {
    font-size: 20px;
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    align-items: center;
    justify-content: center;
    text-align: center; /* Added for centering */
    margin-left:550px;
    width:140px;
    height:57px;
}

.tutorial-step10 .step-number10 {
    margin-top: 5px; /* Adjust as needed */
}

.game-area10 {
    flex: 1;
    margin-top: 180px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #60cc9c;
    position: relative;
    height:100%;
}

.instructions10 {
    font-size: 30px;
    color: #333;
    margin-bottom: 60px;
    margin-top: -85px;
    margin-right:-3px;
}

.icon10 {
    font-size: 24px;
    margin-bottom: 1px;
}

.color-box10 {
    background-color: white;
    border-radius: 25px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 110px;
    margin-top: -340px;
    margin-bottom:90px;
    margin-left:20px;
}
.color-text10 {
    font-size: 60px;
    color: rgb(70, 123, 215);
    align-items: center;
    justify-content: center;
    margin-top: -80px; 
    margin-bottom:50px;
}


.checkmark10 {
    font-size: 45px;
    color: white;
    position: absolute;
    margin-bottom: 140px;
}


.time10 {
    width: 50px; /* Adjust width as needed */
    height: 120px; /* Adjust height as needed */
    margin: 18px auto 35px auto; /* Adjust margins */
    background: url('img/time.png') no-repeat center center;
    background-size: contain;
    margin-right:615px;
}

.icon10 {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-right: 5px; /* Space between icon and text */
    vertical-align: middle; /* Align with text */
}
.instructions9 {
    font-size: 30px;
    color: #333;
    margin-bottom: 60px;
    margin-top: -80px;
    margin-right:-3px;
}
.container11 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}